

#site-header .col-12 {
    height: 100px;
    background-color: cadetblue;
}

.jumbo .col-12 {
    height: 300px;
    background-color: chocolate;
}

.card {
    height: 300px;
    background-color: chartreuse;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: brown;
}

.beige {
    background-color: beige;
}