

#site-header .col-12 {
    height: 100px;
    background-color: cadetblue;
}

.jumbo .col-12 {
    height: 300px;
    background-color: chocolate;
}

.card {
    height: 300px;
    background-color: chartreuse;
}

.container-fluid .col-12 {
    height: 500px;
    background-color: coral;
}