/* Utility */
:root {
    --color-header-hr-star-footer-bottom: #2C3E50;
    --color-bg-light-green: #1ABC9C;
    --color-title-no-bg: #333333;
    --color-bg-footer-top: #3A546D;
    --color-border-bottom: #CCCCCC;
}

.custom-line {
    width: 100%;
    height: 0.25rem;
    border-radius: 1rem;
    max-width: 7rem;
}

.fl-mt-5rem {
    margin-top: 5rem;
}

/* Background colors */
.fl-bg-dark {
    background-color: var(--color-header-hr-star-footer-bottom);
}

.fl-bg-green {
    background-color: var(--color-bg-light-green);
}

.fl-bg-white {
    background-color: #FFFFFF;
}

.fl-bg-darkblue {
    background-color: var(--color-bg-footer-top);
}

/* Text colors */
.fl-txt-dark {
    color: var(--color-title-no-bg);
}

.fl-txt-green {
    color: var(--color-bg-light-green);
}

/* Custom navigation */
.navbar-nav li.nav-item a.nav-link:hover {
    background-color: var(--color-bg-light-green);
}

/* Portfolio */
.portfolio .portfolio-badge {
    overflow: hidden;
}

/* Header */
.avatar {
    width: 15rem;
}

/* Portfolio section */
.portfolio .portfolio-badge img {
    border-radius: 0.5rem;
}

/* About section */
#about-section .dl-btn:hover {
    color: var(--color-bg-light-green);
    background-color: #FFFFFF;
    transition: 0.5s linear;
}

/* PORTFOLIO PAGE */

/* Newsletter section */
#sub-to-news .send-btn:hover {
    color: var(--color-bg-light-green);
    background-color: #FFFFFF;
    transition: 0.5s linear;
}